aside{
  background-color: #181818;
  width: 20vw;
  padding: 1.25rem;
  color: white;
  height: 100%;
  margin: 0;

  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: column;

  box-shadow: 5px 0px 7px 0px #00bcb9;

  h1{
    font-size: calc(5vi - 0.15rem);
  }
  h3{
    font-size: calc(3vi - 0.15rem);
  }
}