@use './themes/defaultTheme';
@use './util';
@use './base';
@use './layout/app';
@use './components/list';

@import './partials/nav';

.main-section{
  color: white;
  display: flex;
}

body {
  display: flex;
  
}